.places__link {
  margin: 0;
  display: block;
  margin-top: 12px;
  font-family: 'Inter','Arial',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 0.35s;
  cursor: pointer;
}

.places__link:hover {
  opacity: 0.8;
}
